body {
    font-family: "Work Sans",sans-serif;
    background-color: white;
    color: black;
}

#object {
    width: 24vh;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 20px auto;
    border: none;
    position: absolute;
    left: 20%;
    top: 5%;
}

#ore-info {
    position: absolute;
    left: 5.5%;
    text-align: center;
    top: 32%;
    width: 45vh;
    height: 40vh;
    margin-top: 7vh;
    justify-content: center;
}

#mine-name {
    font-size: 3.5vh;
    font-weight: bold;
}

#mine-hp {
    font-size: 2.8vh;
}

#mine-def {
    font-size: 2.8vh;
}

#mine-reward {
    font-size: 2.8vh;
}

#mine-number {
    font-size: 2.8vh;
}

#mine-stage {
    font-size: 2.8vh;
}

@keyframes click {
    0%{
        transform: scale(0.925);
        filter: brightness(0.9);
    }
    100%{
        transform: scale(1);
        filter: brightness(1);
    }
}

.animated {
    animation: click 0.3s linear;
}

#game-name {
    font-size: 4.5vh;
}

#money {
    font-size: 4vh;
}

#gems {
    font-size: 4vh;
}

#top-panel {
    background-color: #e6e6e6;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#bottom-panel {
    background-color: #e6e6e6;
    padding: 0.5em;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menus {
    background-color: white;
    color: black;
    min-width: 5vh;
    height: 5vh;
    font-size: 3vh;
    margin: 0.5vh;
    padding: 0.2vh 0.5rem;
    display: flex;
    align-items: center;
    filter: brightness(0.8);
    transition: 0.4s;
}

.menus:hover { 
    filter: brightness(1);
}

#upg-subtab1 {
    background-color: white;
    color: black;
    min-width: 5vh;
    height: 5vh;
    font-size: 3vh;
    margin: 0.5vh;
    padding: 0.2vh 0.5rem;
    display: flex;
    align-items: center;
    filter: brightness(0.8);
    transition: 0.4s;
    display: none;
}

#upg-subtab1:hover { 
    filter: brightness(1);
}

#upg-subtab2 {
    background-color: white;
    color: black;
    min-width: 5vh;
    height: 5vh;
    font-size: 3vh;
    margin: 0.5vh;
    padding: 0.2vh 0.5rem;
    display: flex;
    align-items: center;
    filter: brightness(0.8);
    transition: 0.4s;
    display: none;
}

#upg-subtab2:hover { 
    filter: brightness(1);
}

#upg-subtab3 {
    background-color: white;
    color: black;
    min-width: 5vh;
    height: 5vh;
    font-size: 3vh;
    margin: 0.5vh;
    padding: 0.2vh 0.5rem;
    display: flex;
    align-items: center;
    filter: brightness(0.8);
    transition: 0.4s;
    display: none;
}

#upg-subtab3:hover { 
    filter: brightness(1);
}

#upgrade-subtabs {
    background-color: none;
    position: absolute;
    padding: 0.5em;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 150vh;
    height: 10vh;
    left: 45%;
    top: 7%;
}

#changeobj1 {
    border-color: black;
    border-width: 3px;
    font-size: 40px;
    transition: 0.4s;
    filter: brightness(0.8);
    width: 18%;
}

#changeobj1:hover {
    filter: brightness(1);
}

#changeobj2 {
    border-color: black;
    border-width: 3px;
    font-size: 40px;
    transition: 0.4s;
    filter: brightness(0.8);
    width: 18%;
}

#changeobj2:hover {
    filter: brightness(1);
}

#changeobj3 {
    border-color: black;
    border-width: 3px;
    font-size: 20px;
    transition: 0.4s;
    filter: brightness(0.8);
    width: 12%;
}

#changeobj3:hover {
    filter: brightness(1);
}

#changeobj4 {
    border-color: black;
    border-width: 3px;
    font-size: 20px;
    transition: 0.4s;
    filter: brightness(0.8);
    width: 12%;
}

#changeobj4:hover {
    filter: brightness(1);
}

#changewaster1 {
    border-color: black;
    border-width: 3px;
    font-size: 40px;
    transition: 0.4s;
    filter: brightness(0.8);
    width: 60px;
    filter: brightness(0.8);
}

#changewaster2 {
    border-color: black;
    border-width: 3px;
    font-size: 40px;
    transition: 0.4s;
    filter: brightness(0.8);
    width: 60px;
    filter: brightness(0.8);
}

#changewasterdiv {
    border-color: black;
    border-width: 3px;
    font-size: 40px;
    filter: brightness(0.8);
    width: 40%;
    position: absolute;
    left: 45.5%;
    top: 75%;
    justify-content: center;
}

#changewaster1:hover {
    filter: brightness(1);
}

#changewaster2:hover {
    filter: brightness(1);
}

#changeobj1:hover {
    filter: brightness(1);
}

#whole-object {
    height: 70vh;
    width: 35vw;
    position: absolute;
    left: 8%;
    top: 5%;
}

#money-upgrades {
    width: 40vw;
    height: 30vh;
    font-size: 3vh;
    margin: 0.5vh;
    padding: 0.2vh 0.5rem;
    position: absolute;
    left: 45%;
    top: 15%;
    justify-content: space-around;
}

#money-upg1 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg2 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg3 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg4 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg5 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg6 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg7 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg8 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg9 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg10 {
    width: 10vh;
    height: 10vh;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    filter: brightness(0.8);
    transition: 0.3s;
}

#money-upg1:hover {
    filter: brightness(1);
}

#money-upg2:hover {
    filter: brightness(1);
}

#money-upg3:hover {
    filter: brightness(1);
}

#money-upg4:hover {
    filter: brightness(1);
}

#money-upg5:hover {
    filter: brightness(1);
}

#money-upg6:hover {
    filter: brightness(1);
}

#money-upg7:hover {
    filter: brightness(1);
}

#money-upg8:hover {
    filter: brightness(1);
}

#money-upg9:hover {
    filter: brightness(1);
}

#money-upg10:hover {
    filter: brightness(1);
}

#U3lvl {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2vh;
    font-weight: bold;
}

#U4lvl {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2vh;
    font-weight: bold;
}

#U6lvl {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2vh;
    font-weight: bold;
}

#U9lvl {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2vh;
    font-weight: bold;
}

#upgrade-info {
    width: 30%;
    height: 10%;
    position: absolute;
    left: 45.5%;
    top: 40%;
    font-size: 20px;
    font-weight: bold;
}

#event-log {
    width: 35%;
    overflow-y: scroll;
    height: 12%;
    position: absolute;
    left: 45.5%;
    top: 60%;
    border-width: 3px;
    border-color: black;
    background-color: lightgray;
    border-style: outset;
    font-size: 17.5px;
}

#buttonpic {
    width: 100%;
}

#buttonpic2 {
    height: 100%;
}

#buttonpic3 {
    height: 30px;
    margin-top: 5px;
}

#pickaxe-stats {
    width: 35%;
    height: 12%;
    position: absolute;
    top: 70%;
}

#pickaxe-stats-title {
    font-size: 30px;
    font-weight: bold;
}

#pickaxe-stats-info {
    font-size: 20px;
}

#create-pic {
    font-size: 30px;
    border-width: 3px;
    border-color: black;
    background-color: lightgray;
    border-style: outset;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
    filter: brightness(0.8);
}

#create-pic:hover {
    filter: brightness(1);
}

#hpbar1 {
    width: 100%;
    height: 5%;
    align-self: center;
    background-color: red;
    border-style: inset;
    border-width: 4px;
    border-color: black;
}

#hpbar2 {
    background-color: lime;
    height: 100%;
}











.notationbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 20px;
    border: outset;
    border-width: 3px;
    border-color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-notation {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-notation a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-notation a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-notation {display: block;}
  
  .dropdown:hover .notationbtn {background-color: #ffffff;}



  #achievements {
    width: 95vw;
    height: 10.35vh;
    position: absolute;
    justify-content: space-around;
    display: flex;
}

#achievements2 {
    width: 95vw;
    height: 10.35vh;
    position: absolute;
    justify-content: space-around;
    display: flex;
    top: 30%;
}

#achievement {
    width: 15vw;
    height: 15vh;
    border-width: 3px;
    border-style: outset;
    border-color: black;
    text-align: center;
    position: relative;
}

#achname {
    font-size: 4vw;
    font-weight: bold;
}

#achdesc {
    font-size: 3vw;
}

#achinfodiv {
    position: absolute;
    top: 80%;
    width: 98%;
    height: 10%;
    border-style: outset;
    border-color: black;
    border-width: 5px;
}

#factorydiv {
    left: 0;
    top: 10%;
    width: 98%;
    top: 70%;
}

#factoryvisual {
    width: 30%;
    height: 30%;
    left: 15%;
    top: 15%;
    display: flex;
    position: absolute;
}

#factoryinfo {
    font-size: 150%;
    top: 50%;
    width: 30%;
    height: 40%;
    left: 6%;
    position: absolute;
}

#minersdiv {
    left: 50%;
    top: 15%;
    width: 45%;
    height: 50%;
    position: absolute;
}

#miner {
    width: 100%;
    height: 20%;
    font-size: 3vh;
    border-style: outset;
    border-color: black;
    border-width: 5px;
    text-align: left;
    transition: 0.3s;
    filter: brightness(0.8);
}

#miner:hover {
    filter: brightness(1);
}

#xpbar1 {
    width: 100%;
    height: 5%;
    align-self: center;
    background-color: rgb(0, 0, 0);
    border-style: inset;
    border-width: 4px;
    border-color: black;
}

#xpbar2 {
    background-color: cyan;
    height: 100%;
}



.smoke-container {
    position: absolute;
    left: 21%;
    top: 20%;
    z-index: -1;
}

.smoke {
    position: absolute;
    width: 50px;
    opacity: 0;
    animation: floatUp 4s ease-in-out forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px);
        opacity: 0;
    }
}

#help-div {
    width: 98%;
}

#help-box {
    width: 100%;
    border-style: outset;
    border-width: 20px;
    border-color: black;
    height: 100px;
}

#help-title {
    font-size: 2vw;
    font-weight: bold;
}

#help-desc {
    font-size: 1vw;
}